body {
  background: #f7f7f9;
}

#main-container {
  min-height: 4000px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #6070ff;
  justify-content: space-between;
}

.logo {
  width: 76px;
  height: 20px;
  margin-top: 25px;
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  text-decoration: none;
}

.Right {
  margin-left: 20px;
}

.fa-bars {
  padding-right: 20px;
  height: 40px;
  margin-top: 25px;
}

.Intro {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 43px;
  color: #172b4d;
  margin-top: 40%;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-left: 15px;
}

.media-text {
  display: flex;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  white-space: nowrap;
}

.home-page-section {
  background-size: contain;
  display: flex;
  flex-direction: column;
  height: 718px;
  background-image: url(./assets/header-shapes\ mobile.svg);
  background-repeat: no-repeat;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  width: 117px;
  height: 45px;
}

.icons {
  margin-top: 0;
  margin-left: 15px;
  padding-left: 0;
  width: 170.17px;
  height: 10px;
  flex: none;
  order: 3;
  flex-grow: 0;
  display: flex;
  gap: 12px;
  color: #505f79;
  list-style: none;
}

/* @media (min-width: 960px) {
  body {
    background-color: #fff;
    position: absolute;
    width: 360px;
    height: 740px;
    left: 0;
    top: 0;
    margin: 0;
  }
} */

.media-link {
  color: #505f79;
  margin-right: 20px;
}

.media-link:hover {
  color: aqua;
}

.right-icons {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.card-work-1 {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  height: 552px;
  margin-top: 114px;
}

.work-image {
  background-image: url(./assets/Snapshoot\ Portfolio.svg);
  background-repeat: no-repeat;
  height: 220px;
  border-radius: 8px;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
}

.Tonic {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 0;
  color: #172b4d;
}

.frame1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 32px;
}

.canopy {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.year {
  color: #7a869a;
}

.desc {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
}

.languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  letter-spacing: 0.03em;
  background: #ebebff;
  border-radius: 8px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.card-work-2 {
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 88px;
}

.work-image-2 {
  background-image: url(./assets/Snapshoot\ Portfolio2.svg);
  background-repeat: no-repeat;
  height: 220px;
  width: 295px;
  border-radius: 8px;
}

.work-image-3 {
  background-image: url(./assets/Snapshoot\ Portfolio3.svg);
  background-repeat: no-repeat;
  height: 220px;
  width: 295px;
  border-radius: 8px;
}

.work-image-4 {
  background-image: url(./assets/Snapshoot\ Portfolio4.svg);
  height: 220px;
  width: 295px;
  border-radius: 8px;
}

.myself {
  padding-top: 1px;
}

.about-myself {
  margin-top: 144px;
  padding-bottom: 60px;
  border-radius: 40px;
  border-top-right-radius: 100px;
  background: #fff;
}

.about-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  width: 327px;
  height: 101px;
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 114px;
}

.des {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  margin-top: 100px;
}

.language {
  height: 24px;
  left: 12px;
  right: 78px;
  color: #000;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  justify-content: space-between;
  margin-top: 20px;
}

.language-list {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
  margin-top: 6px;
  margin-bottom: 113px;
}

.language-list ul {
  padding-left: 1px;
}

.js {
  background-image: url(./assets/Ellipse\ 1.svg);
  border-radius: 8px;
  width: 303px;
  height: 66.72px;
  margin-top: 36px;
}

.language-list ul li {
  align-items: center;
  color: #253858;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  left: 76px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 12px;
  list-style-type: none;
  flex-direction: column;
  padding-left: 12px;
  gap: 12px;
  width: 303px;
}

.language-list ul li span {
  margin-left: 16px;
  padding: 16px;
}

.framework {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  justify-content: space-between;
  display: flex;
  padding: 15px;
}

.line {
  width: 100%;
  height: 1px;
  background: #dfe1e6;
  display: flex;
}

.contact-section {
  display: flex;
  flex-direction: column;
  border-radius: 40px 0 0 0;
  background: #6070ff;
  padding: 120px 24px 60px 24px;
}

.contact-heading {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
  margin: 0;
}

.contact-cta {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 20px;
}

/* Code Added by Lukman Begins */
.text-shift:hover::placeholder {
  transform: translate(10px, 0);
}

/* Code Added by Lukman Ends */

#name,
#email,
#message {
  display: flex;
  top: calc(50% - 18px / 2);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  align-items: center;
  color: #172b4d;
  padding: 15px 38px 15px 16px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

#submit {
  display: flex;
  flex-direction: row;
  padding: 12px, 16px, 12px, 16px;
  height: 48px;
  width: 140px;
  background: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

#submit:hover {
  background: #6070ff;
  color: #fff;
}

#submit:active {
  background: #2230d2;
  color: #fff;
}

#submit:disabled {
  background: #c1c7d0;
  color: #fff;
}

.second {
  display: none;
}

.two {
  display: none;
}

.menu {
  display: none;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: #fff;
  background: #6070ff;
  opacity: 0.9;
  width: 100%;
  height: 100%;
}

.menu-list {
  list-style: none;
  text-decoration: none;
  margin-top: 3.5em;
}

.menu ul li a {
  color: #fff;
}

.menu div {
  float: right;
  padding: 36px;
}

/* start on popup  */
.content {
  position: absolute;
  width: 70%;
  left: 4em;
  opacity: 1;
  top: -3em;
}

.buttons-popup {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

#see-live {
  background-image: url(/assets/Icon.svg);
  background-repeat: no-repeat;
  width: 3em;
  height: 100%;
  margin-top: 2.5em;
}

#button-popup,
#button-popup2 {
  padding: 0;
  padding-left: 10px;
}

#see-source {
  background-image: url(/assets/Icon.svg);
}

.popup {
  position: fixed;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100%;
  background-color: #c1c7d0;
  opacity: 0.95;
  top: 0;
  display: none;
}

/* end of popup */

#error {
  display: none;
  color: red;
}

@media screen and (min-width: 768px) {
  body {
    background: #e5e5e5;
  }

  .home-page-section {
    background: #fff;
    height: 916px;
    display: flex;
    background-image: url(./assets/desktop-version/Header-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 73px;
  }

  .Intro {
    margin: 314px 100px 0 100px;
  }

  .description {
    margin: 16px 100px;
  }

  .media-text {
    margin: 0 260px 0 80px;
  }

  .right-icons {
    margin: 0 260px 0 80px;
  }

  .card-work-1 {
    margin: 142px;
    flex-direction: row;
    height: 496px;
    left: 0;
    top: 0;
    border-radius: 24px;
  }

  .button {
    margin-top: 40px;
  }

  .work-image {
    background-image: url(./assets/desktop-version/Snapshoot-Portfolio-1.svg);
    height: 448px;
    width: 544px;
  }

  .desc {
    height: 50px;
    left: 24px;
    top: 146px;
  }

  .card-work-2 {
    display: flex;
    flex-direction: row-reverse;
    margin: 142px;
  }

  .work-image-2 {
    height: 448px;
    width: 100%;
    left: 24px;
    top: 24px;
    border-radius: 8px;
    background-image: url(./assets/desktop-version/Snapshoot-Portfolio-2.svg);
  }

  .work-image-3 {
    background-image: url(./assets/desktop-version/Snapshoot-Portfolio-3.svg);
    background-repeat: no-repeat;
    height: 448px;
    width: 100%;
    left: 24px;
    top: 24px;
    border-radius: 8px;
  }

  .work-image-4 {
    background-image: url(./assets/desktop-version/Snapshoot-Portfolio-4.svg);
    background-repeat: no-repeat;
    height: 448px;
    width: 100%;
  }

  .about-myself {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .bottom {
    margin: 0;
  }

  .bottom-list {
    margin: 0;
  }

  .resume {
    margin-top: 50px;
  }

  .language-list {
    margin-top: 106px;
    width: 100%;
    margin-right: 70px;
  }

  .work2 {
    flex-direction: row;
  }

  .myself {
    padding-left: 100px;
  }

  .des {
    height: 102px;
    left: 0;
    top: 126px;
  }

  .language-list ul {
    display: flex;
    height: 120px;
    width: 122px;
    left: 12px;
    top: 12px;
    border-radius: 8px;
    justify-content: space-between;
    gap: 12px;
  }

  .language-list ul li span {
    margin-left: 0;
  }

  .line {
    width: 100%;
  }

  .toolbar {
    display: none;
  }

  .second {
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    color: #6070ff;
  }

  .logo {
    margin-left: 80px;
  }

  .header1 {
    color: #344563;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .second nav {
    padding-top: 25px;
    gap: 25px;
  }

  .one {
    display: none;
  }

  .two {
    display: flex;
  }

  .hand-cursor {
    background-image: url(/assets/desktop-version/hand-cursor\ 1.svg);
    background-repeat: no-repeat;
    display: flex;
    width: 57px;
    height: 57px;
    left: 376px;
    top: 53.05px;
    margin-top: 328px;
  }

  .contact-section {
    align-items: center;
    background-image: url(./assets/desktop-version/contact\ form.svg);
  }

  .contact-cta {
    height: 102px;
    width: 569px;
  }

  .contact-form {
    width: 447px;
  }

  #submit {
    margin-left: 150px;
  }

  .header-logo {
    margin-left: 155px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    position: absolute;
    right: 100px;
    list-style: none;
  }

  .menu {
    display: none;
  }

  .popup {
    display: none;
  }

  #error {
    display: none;
  }
}
